@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Nunito+Sans:400,600&display=swap');
.logo-1{font-size:126px;fill:#d8a80f;stroke-width:3px;font-family:BebasNeue-Regular, Bebas Neue;letter-spacing:0.04em;}.logo-1,.logo-3,.logo-4,.logo-5,.logo-6{stroke:#000;stroke-miterlimit:10;}.logo-2{letter-spacing:0.04em;}.logo-3{fill:#e5e57f;}.logo-3,.logo-4,.logo-5,.logo-6{stroke-width:5px;}.logo-4{fill:#e0ac19;}.logo-5{fill:#d3d2cf;}.logo-6{fill:none;}
.icon-1{fill:#f68c1e;}.icon-1,.icon-2,.icon-3{stroke:#000;stroke-miterlimit:10;}.icon-2{fill:#b1b2b1;}.icon-3{fill:#231002;}
.folderIcon-1{fill:#edd354;stroke:#b79b13;stroke-miterlimit:10;}
.scrollimagedown-1{fill:#ededed;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}
.newstripeconnecticon-1 {fill: #1f5aa6; stroke: #0d070d;}.newstripeconnecticon-1,.newstripeconnecticon-2 {  stroke-miterlimit: 10;} .newstripeconnecticon-2 { font-size: 49px; fill: #f2f2f2;  stroke: #0e2f59;  font-family: 'Nunito Sans', sans-serif;}.newstripeconnecticon-3 {letter-spacing: -0.01em;}.newstripeconnecticon-4 {  letter-spacing: 0em;}.newstripeconnecticon-5 { letter-spacing: 0em;}
.googlesign-1{fill:#ff1102;}.googlesign-1,.googlesign-2{stroke:#000;stroke-miterlimit:10;}.googlesign-2{font-size:35px;fill:#fff;stroke-width:0.25px;font-family:'Nunito Sans', sans-serif;font-weight:600;}
.applesign-1{fill:#8c8c8c;stroke:#000;}.applesign-1,.applesign-2{stroke-miterlimit:10;}.applesign-2{font-size:34.62px;fill:#f4f8f9;stroke:#050505;stroke-width:0.25px;font-family:'Nunito Sans', sans-serif;font-weight:600;}
.checkclientidicon-1 {fill: #005c02;}.checkclientidicon-1,.checkclientidicon-2 { stroke: #001700; stroke-miterlimit: 10;}.checkclientidicon-2 {fill: #e8bc00; stroke-width: 0.5px;}
.signupnow-1{fill:#d35e2a;stroke:#020100;}.signupnow-1,.signupnow-2{stroke-miterlimit:10;}.signupnow-2{font-size:34px;fill:#fff;stroke:#000;font-family:'Nunito Sans', sans-serif;font-weight:600;}.signupnow-3{letter-spacing:-0.01em;}
.loginnow-1{fill:#006073;stroke:#006073;}.loginnow-1,.loginnow-2{stroke-miterlimit:10;}.loginnow-2{font-size:54.25px;fill:#fff;stroke:#000;stroke-width:0.25px;font-family:'Nunito Sans', sans-serif;font-weight:600;}.loginnow-3{letter-spacing:0em;}.loginnow-4{letter-spacing:-0.01em;}
.registercompany-1{fill:#61dafb;}.registercompany-1,.registercompany-2{stroke:#202122;stroke-miterlimit:10;}.registercompany-2{font-size:39.75px;fill:#61666b;stroke-width:2px;font-family:'Nunito Sans', sans-serif;letter-spacing:0.05em;}.registercompany-3{letter-spacing:0.04em;}.registercompany-4{letter-spacing:0.04em;}
.saveprojecticon-1{fill:#f03c3c;}.saveprojecticon-1,.saveprojecticon-2{stroke:#000;stroke-miterlimit:10;}.saveprojecticon-2{font-size:72px;fill:#f9f7f7;stroke-width:0.25px;font-family:'Nunito Sans', sans-serif;font-weight:600;}.saveprojecticon-3{letter-spacing:-0.01em;}.saveprojecticon-4{letter-spacing:0em;}.saveprojecticon-5{letter-spacing:-0.01em;}.saveprojecticon-6{letter-spacing:0em;}
.savecompany-1{fill:#18453b;stroke:#000;stroke-miterlimit:10;}.savecompany-2{font-size:53px;fill:#f4f4f4;font-family:'Nunito Sans', sans-serif;font-weight:600;}.savecompany-3{letter-spacing:-0.01em;}.savecompany-4{letter-spacing:-0.01em;}
.radio-open-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}
.radioselect-1{fill:none;stroke-width:2px;}.radioselect-1,.radioselect-2{stroke:#000;stroke-miterlimit:10;}.radioselect-2{fill:red;}
.removeicon-1{fill:#f41948;stroke:#000;stroke-miterlimit:10;stroke-width:0.5px;}
.addicon-1{fill:#aab1bf;stroke-width:2px;}.addicon-1,.addicon-2{stroke:#0c1d40;stroke-miterlimit:10;}.addicon-2{font-size:29.09px;fill:#0c1d40;font-family:'Nunito Sans', sans-serif;}
.calendarIcon-1{fill:#fff;stroke:#2a678c;stroke-miterlimit:10;stroke-width:0.5px;}
.datearrowup-1 {fill: #2a678c;stroke: #000;stroke-miterlimit: 10;}
.datearrowdown-1 { fill: #2a678c; stroke: #000; stroke-miterlimit: 10;}
.opendatemenu-1 {fill: #e6e6e6; stroke: #000;  stroke-miterlimit: 10;  stroke-width: 2px;}.opendatemenu-2 {  fill: #666;}
.dateyearup-1 {  fill: #e6e6e6;  stroke: #000;  stroke-miterlimit: 10;  stroke-width: 2px;}.dateyearup-2 {  fill: #666;}
.dateyeardown-1 {  fill: #e6e6e6;  stroke: #000;  stroke-miterlimit: 10;  stroke-width: 2px;}.dateyeardown-2 {  fill: #666;}
.datemonthdown-1 {  fill: #e6e6e6;  stroke: #000;  stroke-miterlimit: 10;  stroke-width: 2px;}.datemonthdown-2 {  fill: #666;}
.datemonthup-1 {  fill: #e6e6e6;  stroke: #000;  stroke-miterlimit: 10;  stroke-width: 2px;}.datemonthup-2 {  fill: #666;}
.closedatemenu-1 {  fill: #e6e6e6;  stroke: #000;}.closedatemenu-1,.closedatemenu-2 {  stroke-miterlimit: 10;  stroke-width: 2px;}.closedatemenu-2 {  fill: #666;  stroke: #666;}
.actualdatearrowdown-1 {  fill: #570b17;  stroke: #000;  stroke-miterlimit: 10;}
.actualdatearrowup-1 {  fill: #570b17;  stroke: #000;  stroke-miterlimit: 10;}
.calendarIcon-2{fill:#fff;stroke:#A62152;stroke-miterlimit:10;stroke-width:0.5px;}
.createproposal-1{fill:#75c5c6;stroke:#156876;}.createproposal-2{font-size:24px;fill:#13254b;font-family:'Nunito Sans', sans-serif}.createproposal-3{letter-spacing:-0.01em;}
.activecheck-1{fill:#df6108;stroke:#005e6a;stroke-miterlimit:10;stroke-width:0.25px;}
.opendetail-1{fill:none;stroke-width:9px;}.opendetail-1,.opendetail-2{stroke:#000;stroke-miterlimit:10;}.opendetail-2{stroke-width:4px;}
.closedetail-1{fill:none;stroke-width:9px;}.closedetail-1,.closedetail-2{stroke:#000;stroke-miterlimit:10;}.closedetail-2{stroke-width:4px;}
.createinvoice-1{fill:#f39b6e;stroke:#ea692b;}.createinvoice-2{font-size:55.29px;fill:#0d0d0d;font-family:NunitoSans-Regular, Nunito Sans;}.createinvoice-3{letter-spacing:-0.01em;}.createinvoice-4{letter-spacing:-0.01em;}
.blueplus-1{fill:#13059b;stroke:#000;stroke-miterlimit:10;}
.registernow-1{fill:#61dafb;}.registernow-1,.registernow-2{stroke:#202122;stroke-miterlimit:10;}.registernow-2{font-size:40px;fill:#61666b;stroke-width:2px;font-family:NunitoSans-Regular, Nunito Sans;letter-spacing:0.05em;}.registernow-3{letter-spacing:0.05em;}.registernow-4{letter-spacing:0.04em;}.registernow-5{letter-spacing:0.05em;}
.removeicon-1{fill:#E55151;}.removeicon-1,.removeicon-2{stroke:#000;stroke-miterlimit:10;}.removeicon-2{fill:#830026;stroke-width:0.5px;}
.saveprofileicon-1{fill:#db9f19;}.saveprofileicon-1,.saveprofileicon-2{stroke:#000;stroke-miterlimit:10;}.saveprofileicon-2{font-size:72px;fill:#f9f7f7;stroke-width:0.25px;font-family:NunitoSans-SemiBold, Nunito Sans;font-weight:600;}.saveprofileicon-3{letter-spacing:-0.01em;}.saveprofileicon-4{letter-spacing:0em;}.saveprofileicon-5{letter-spacing:-0.01em;}.saveprofileicon-6{letter-spacing:0em;}
.checkedbox-1{fill:none;stroke:#000;stroke-width:2px;}.checkedbox-1,.checkedbox-2{stroke-miterlimit:10;}.checkedbox-2{fill:#df6108;stroke:#005e6a;stroke-width:0.25px;}
.emptybox-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}
.minusicon-1{fill:#5275c6;}
.plusicon-1{fill:#5275c6;}
.updatepassword-1{fill:#5275c6;}.updatepassword-2{font-size:36px;fill:#f9f7f7;stroke:#000;stroke-miterlimit:10;stroke-width:0.25px;font-family:NunitoSans-SemiBold, Nunito Sans;font-weight:600;}.updatepassword-3{letter-spacing:-0.01em;}.updatepassword-4{letter-spacing:-0.01em;}.updatepassword-5{letter-spacing:-0.01em;}.updatepassword-6{letter-spacing:-0.01em;}
.mainlogo-1{fill:gray;}.mainlogo-1,.mainlogo-2,.mainlogo-4,.mainlogo-5,.mainlogo-6,.mainlogo-7{stroke:#000;stroke-miterlimit:10;}.mainlogo-1,.mainlogo-4,.mainlogo-5,.mainlogo-6,.mainlogo-7{stroke-width:5px;}.mainlogo-2{font-size:126px;fill:#d8a80f;stroke-width:3px;font-family:BebasNeue-Regular, Bebas Neue;letter-spacing:0.04em;}.mainlogo-3{letter-spacing:0.04em;}.mainlogo-4{fill:#e5e57f;}.mainlogo-5{fill:#e0ac19;}.mainlogo-6{fill:#d3d2cf;}.mainlogo-7{fill:none;}
.hidescroll {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.hidescroll::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.createlink:hover{
  cursor:pointer;
}

.App {
  text-align: center;
  
}
.calendar-grid {
  max-width:540px;
  display: grid;
  grid-template-columns: 15% 14% 14% 14% 14% 14% 15%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin:auto;
}
.laborcalendar-grid{
  margin:auto;
  width:100%;
  display:grid;
  grid-template-columns:14% 14% 14% 14% 14% 14% 14%;
  font-family: 'Nunito Sans', sans-serif;
}
.active-schedule-calendar {
  background-color: #00b0cf;
}
.active-actual-calendar {
  background-color: #F47373;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
