@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Nunito+Sans:400,600&display=swap');
.logo-1{font-size:126px;fill:#d8a80f;stroke-width:3px;font-family:BebasNeue-Regular, Bebas Neue;letter-spacing:0.04em;}.logo-1,.logo-3,.logo-4,.logo-5,.logo-6{stroke:#000;stroke-miterlimit:10;}.logo-2{letter-spacing:0.04em;}.logo-3{fill:#e5e57f;}.logo-3,.logo-4,.logo-5,.logo-6{stroke-width:5px;}.logo-4{fill:#e0ac19;}.logo-5{fill:#d3d2cf;}.logo-6{fill:none;}
.icon-1{fill:#f68c1e;}.icon-1,.icon-2,.icon-3{stroke:#000;stroke-miterlimit:10;}.icon-2{fill:#b1b2b1;}.icon-3{fill:#231002;}
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
